@{
    ViewData["Title"] = "Home Page";
}

<menu id="diagramMenu">
    <menu title="New Node">
        <menu title="Create New Node"></menu>
        <menu title="Delete Node"></menu>
    </menu>
    <menu title="Edit Node">
        <menu title="Name"></menu>
        <menu title="Edit Something"></menu>
    </menu>
</menu>
<button id="addNode-btn" type="button">
    Create Node
</button>
<button id="displaynode-btn" type="button">
    Show Node
</button>
<!--
<svg id="diagram">

</svg>
-->
